@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background-image.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 0em;
  display: flex;
  justify-content: center;
}

.search-section {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.search-section .input-search {
  width: 320px;
  padding: 1em;
  border-radius: 10em;
  border: none;
  transition: 0.2s ease;
  font-size: 1.15em;
}
.search-section .input-search:focus {
  outline: none;
}

.btn-search {
  background-color: #fff;
  padding: 1em;
  border-radius: 10em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn-search:active {
  position: relative;
  top: 2px;
}
.btn-search:hover {
  background-color: rgb(228, 228, 228);
}

@media (max-width: 420px) {
  .header {
    padding: 0;
  }
  .search-section {
    gap: 0.5em;
  }
  .search-section .input-search {
    width: 260px;
  }
}
.main {
  max-width: 1200px;
  padding: 1em 0em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 450px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-content .city {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.main-content .city p {
  font-size: 1.7em;
  color: #fff;
}
.main-content .city .location {
  font-size: 1.5em;
}

.weather-icon {
  display: flex;
  align-items: center;
  margin-top: 3em;
}
.weather-icon .weather-img {
  width: 130px;
  height: 90px;
  display: inline;
}

.temperature {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

.weather-infos {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.weather-infos .weather-wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-infos .weather-wind span {
  color: #fff;
  font-weight: 300;
  font-size: 0.6;
  text-align: center;
}
.weather-infos .weather-wind p {
  color: #fff;
  margin-top: 0.7em;
}
.weather-infos .weather-wind .wind {
  font-size: 2.1em;
}
.weather-infos .weather-humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-infos .weather-humidity span {
  color: #fff;
  font-weight: 300;
  font-size: 0.6;
  text-align: center;
}
.weather-infos .weather-humidity p {
  color: #fff;
  margin-top: 0.7em;
}
.weather-infos .weather-humidity .droplet {
  font-size: 2.1em;
}

@media (max-width: 420px) {
  .main-content {
    width: 345px;
    margin-top: 2.5em;
    background: rgba(255, 255, 255, 0.2);
  }
  .main-content .city p {
    font-size: 1.4em;
    color: #fff;
  }
  .main-content .city .location {
    font-size: 1.2em;
  }
  .temperature {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
  }
  .weather-icon {
    display: flex;
    align-items: center;
    margin-top: 3em;
  }
  .weather-icon .weather-img {
    width: 110px;
    height: 70px;
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
