.main {
  max-width: 1200px;

  padding: 1em 0em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 450px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  .city {
    display: flex;
    align-items: center;
    gap: 1.5em;
    p {
      font-size: 1.7em;
      color: #fff;
    }
    .location {
      font-size: 1.5em;
    }
  }
}

.weather-icon {
  display: flex;
  align-items: center;
  margin-top: 3em;
  .weather-img {
    width: 130px;
    height: 90px;
    display: inline;
  }
}

.temperature {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

.weather-infos {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  .weather-wind {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #fff;
      font-weight: 300;
      font-size: 0.6;
      text-align: center;
    }
    p {
      color: #fff;
      margin-top: 0.7em;
    }
    .wind {
      font-size: 2.1em;
    }
  }
  .weather-humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #fff;
      font-weight: 300;
      font-size: 0.6;
      text-align: center;
    }
    p {
      color: #fff;
      margin-top: 0.7em;
    }
    .droplet {
      font-size: 2.1em;
    }
  }
}

@media (max-width: 420px) {
  .main-content {
    width: 345px;
    margin-top: 2.5em;
    background: rgba(255, 255, 255, 0.2);
    .city {
      p {
        font-size: 1.4em;
        color: #fff;
      }
      .location {
        font-size: 1.2em;
      }
    }
  }

  .temperature {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
  }

  .weather-icon {
    display: flex;
    align-items: center;
    margin-top: 3em;
    .weather-img {
      width: 110px;
      height: 70px;
      display: inline;
    }
  }
}
